<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <!-- Meta Tags -->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="ThemeServices">
  <!-- Favicon Icon -->
  <link rel="icon" href="/img/logo.png">
  <!-- Site Title -->
  <title>ShootSpace elemedia global data center</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/animate.css">
  <link rel="stylesheet" href="/css/odometer.css">
  <link rel="stylesheet" href="/css/slick.min.css">
  <link rel="stylesheet" href="/css/style.css">
  
</head>

<body>
  <div class="cs_preloader">
    <div class="cs_preloader_in">
      <div class="cs_wave_first">
        <svg enable-background="new 0 0 300.08 300.08" viewBox="0 0 300.08 300.08" xmlns="http://www.w3.org/2000/svg">
          <path
            d="m293.26 184.14h-82.877l-12.692-76.138c-.546-3.287-3.396-5.701-6.718-5.701-.034 0-.061 0-.089 0-3.369.027-6.199 2.523-6.677 5.845l-12.507 87.602-14.874-148.69c-.355-3.43-3.205-6.056-6.643-6.138-.048 0-.096 0-.143 0-3.39 0-6.274 2.489-6.752 5.852l-19.621 137.368h-9.405l-12.221-42.782c-.866-3.028-3.812-5.149-6.8-4.944-3.13.109-5.777 2.332-6.431 5.395l-8.941 42.332h-73.049c-3.771 0-6.82 3.049-6.82 6.82 0 3.778 3.049 6.82 6.82 6.82h78.566c3.219 0 6.002-2.251 6.67-5.408l4.406-20.856 6.09 21.313c.839 2.939 3.526 4.951 6.568 4.951h20.46c3.396 0 6.274-2.489 6.752-5.845l12.508-87.596 14.874 148.683c.355 3.437 3.205 6.056 6.643 6.138h.143c3.39 0 6.274-2.489 6.752-5.845l14.227-99.599 6.397 38.362c.546 3.287 3.396 5.702 6.725 5.702h88.66c3.771 0 6.82-3.049 6.82-6.82-.001-3.772-3.05-6.821-6.821-6.821z">
          </path>
        </svg>
      </div>
      <div class="cs_wave_second">
        <svg enable-background="new 0 0 300.08 300.08" viewBox="0 0 300.08 300.08" xmlns="http://www.w3.org/2000/svg">
          <path
            d="m293.26 184.14h-82.877l-12.692-76.138c-.546-3.287-3.396-5.701-6.718-5.701-.034 0-.061 0-.089 0-3.369.027-6.199 2.523-6.677 5.845l-12.507 87.602-14.874-148.69c-.355-3.43-3.205-6.056-6.643-6.138-.048 0-.096 0-.143 0-3.39 0-6.274 2.489-6.752 5.852l-19.621 137.368h-9.405l-12.221-42.782c-.866-3.028-3.812-5.149-6.8-4.944-3.13.109-5.777 2.332-6.431 5.395l-8.941 42.332h-73.049c-3.771 0-6.82 3.049-6.82 6.82 0 3.778 3.049 6.82 6.82 6.82h78.566c3.219 0 6.002-2.251 6.67-5.408l4.406-20.856 6.09 21.313c.839 2.939 3.526 4.951 6.568 4.951h20.46c3.396 0 6.274-2.489 6.752-5.845l12.508-87.596 14.874 148.683c.355 3.437 3.205 6.056 6.643 6.138h.143c3.39 0 6.274-2.489 6.752-5.845l14.227-99.599 6.397 38.362c.546 3.287 3.396 5.702 6.725 5.702h88.66c3.771 0 6.82-3.049 6.82-6.82-.001-3.772-3.05-6.821-6.821-6.821z">
          </path>
        </svg>
      </div>
    </div>
  </div>
  <!-- Start Header Section -->
  <header class="cs_site_header cs_style_1 cs_primary_color cs_sticky_header cs_white_bg">
    <div class="cs_top_header">
      <div class="container-fluide">
        <div class="cs_top_header_in">
          <div class="cs_top_header_left">
          </div>
          <div class="cs_top_header_right">
            <ul class="cs_header_contact_list cs_mp_0">
              <li>
                <img src="./img/phone-icon.svg" alt="phone ocon">
                <a href="#">+91 9428962939</a>
              </li>
              <li>
                <img src="./img/loaction-icon.svg" alt="phone ocon">
                303 , Tower D, WTC Gift Tower A,B & D, Gift City, Gandhinagar - 382355
              </li>
            </ul>
            <div class="cs_social_btns cs_style_1">
              <a href="#" class="cs_center"><img src="./img/fb.svg" alt="facebook"></a>
              <a href="#" class="cs_center"><img src="./img/twitter.svg" alt="twitter"></a>
              <a href="#" class="cs_center"><img src="./img/insta.svg" alt="insta"></a>
              <a href="#" class="cs_center"><img src="./img/linkedin.svg" alt="linkedin"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cs_main_header">
      <div class="container-fluide">
        <div class="cs_main_header_in">
          <div class="cs_main_header_left">
            <a class='cs_site_branding' href='/'>
              <img src="/img/logo.png" style="width:50px;margin-bottom:-15px;margin-top:-16px;" alt="Logo">
            </a>
          </div>
          <div class="cs_main_header_right">
            <div class="cs_nav cs_primary_color">
              <ul class="cs_nav_list">
                <li><a href='home'>Home</a></li>
                <li class="menu-item-has-children">
                  <a href='#'>Service</a>
                  <ul>
                    <li><a href=''>Service</a></li>
                    <li><a href=''>Service Details</a></li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <a href='#'>About Us</a>
                  <ul>
                    <li><a href=''>About Us</a></li>
                    <li><a href=''>About Us</a></li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <a href='#'>Locations</a>
                  <ul>
                    <li><a href=''>Noida</a></li>
                    <li><a href=''>Delhi</a></li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <a href='#'>Partners</a>
                  <ul>
                    <li><a href=''>Noida</a></li>
                    <li><a href=''>Delhi</a></li>
                  </ul>
                </li>
                </li>
                <li><a href='#'>global</a></li>
              </ul>
            </div>
            <div class="cs_search_wrap">
              <div class="cs_search_toggle cs_center">
                <img src="./img/search.svg" alt="arrow">
              </div>
              <form action="#" class="cs_header_search_form">
                <div class="cs_header_search_form_in">
                  <input type="text" placeholder="Search" class="cs_header_search_field">
                  <button class="cs_header_submit_btn">
                    <img src="./img/search.svg" alt="arrow">
                  </button>
                </div>
              </form>
            </div>
            <a class='contact-btn' href='/contact'>
              <span>Contact Now </span>
              <img src="./img/arrow-white.svg" alt="arrow">
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="cs_site_header_spacing_150"></div>
  <!-- End Header Section -->
  <!-- Start Hero Section -->
  <section class="position-relative">
    <div class="cs_slider cs_style_1">
      <div class="cs_slider_container" data-autoplay="0" data-loop="1" data-speed="1000" data-center="0"
        data-variable-width="0" data-slides-per-view="1">
        <div class="cs_slider_wrapper">
          <div class="cs_slide">
            <div class="cs_hero cs_style_3 cs_center cs_bg_filed" data-src="/img/home-slide-1.png">
              <div class="container">
                <div class="cs_hero_text">
                  <div class="cs_hero_text_in">
                    <span class="subtitle">ShootSpace Announced availability of</span>
                    <h1 class="cs_hero_title">AI Ready data centers <span>Across</span></h1>
                    <h2 class="southest">India</h2>
                    <p class="cs_hero_subtitle">The quality of our collective digital future depends on equitable access
                      to data. As one of the world’s fastest-growing data center providers, we are committed to
                      empowering innovation, enabling seamless connectivity, and ensuring sustainable solutions for a
                      data-driven world.</p>

                    <div class="cs_hero_btns">
                      <a class='cs_btn cs_style_1 cs_color_1' href='/contact'>
                        <span>Reed more </span>
                        <img src="./img/arrow-white.svg" alt="search">
                      </a>
                      <a class='cs_btn cs_style_1' href='#'>
                        <img src="./img/slider-video.svg" alt="video">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="cs_slide">
            <div class="cs_hero cs_style_3 cs_center cs_bg_filed" data-src="/img/home-slide-1.png">
              <div class="container">
                <div class="cs_hero_text">
                  <div class="cs_hero_text_in">
                    <span class="subtitle">Experience Next-Gen Infrastructure with</span>

                    <h1 class="cs_hero_title">Hyper-Connected Facilities <span>Nationwide</span></h1>
                    <h2 class="southest">India</h2>
                    <p class="cs_hero_subtitle">In today’s digital-first world, connectivity is the lifeblood of
                      progress. Our hyper-connected data centers bring advanced capabilities to every corner of India,
                      bridging the gap between innovation and accessibility. Designed for scalability, security, and
                      sustainability, we power the businesses and ideas shaping tomorrow.</p>

                    <div class="cs_hero_btns">
                      <a class='cs_btn cs_style_1 cs_color_1' href='/contact'>
                        <span>Reed more </span>
                        <img src="./img/arrow-white.svg" alt="search">
                      </a>
                      <a class='cs_btn cs_style_1' href='#'>
                        <img src="./img/slider-video.svg" alt="video">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="cs_pagination cs_style_3"></div>

    </div>
    <!-- End Hero Section -->

  </section>
  <!-- End Hero Section -->

  <!-- Start About Section -->
  <section class="cs_about">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="about-img">
            <img src="/img/about-1.png" alt="">
            <img src="/img/about-2.png" alt="" class="top-space">
          </div>
        </div>
        <div class="col-lg-6 wow fadeInRight" data-wow-duration="0.9s" data-wow-delay="0.25s">
          <div class="cs_about_content">
            <div class="cs_section_heading cs_style_1">
              <p class="cs_section_subtitle cs_accent_color"> <span>Redefining Possibilities</span> in Digital
                Infrastructure </p>
              <h2 class="cs_section_title">ShootSpace: Where Innovation Meets Sustainability</h2>
            </div>
            <p class="cs_about_text">At ShootSpace Global Data Centres, we believe in a future where technology serves
              humanity responsibly. Our cutting-edge facilities are built with scalability, security, and sustainability
              at their core, providing a robust platform for businesses to harness the full potential of their data.
              Whether expanding locally or globally, we’re here to power your vision.</p>
            <p class="cs_about_text">Our commitment extends beyond technology. By integrating energy-efficient designs
              and renewable energy sources, we ensure our operations align with a sustainable planet. Let’s connect the
              world, responsibly. <a href="#">Discover more</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->


  <!-- Start About Section -->
  <section class="care-of">
    <div class="container">

      <h2 class="section_title_left">At The Core Of</h2>

      <div class="row align-items-center">
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <div class="care-ofBox">
            <div class="care-contant">
              <h2>Security</h2>
              <p>Our solutions use advanced security protocols to protect your data and operations from threats, with
                robust encryption, constant monitoring, and surveillance.</p>
            </div>
            <div class="care-img">
              <img src="./img/care-1.png" alt="img">
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-sm-6">
          <div class="care-ofBox">
            <div class="care-contant">
              <h2>Flexibility</h2>
              <p>Adaptability is key in today’s dynamic environment. Our systems offer flexibility, seamlessly
                integrating with your evolving needs and supporting diverse use cases.</p>
            </div>
            <div class="care-img">
              <img src="./img/care-2.png" alt="img">
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-sm-6">
          <div class="care-ofBox">
            <div class="care-contant">
              <h2>Reliable</h2>
              <p>Dependability you can count on. With a focus on performance and uptime, we ensure that our services are
                always ready to support your business, no matter the challenge.</p>
            </div>
            <div class="care-img">
              <img src="./img/care-3.png" alt="img">
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-sm-6">
          <div class="care-ofBox">
            <div class="care-contant">
              <h2>Sustainable</h2>
              <p>We are committed to a greener future. Our processes and technologies are designed to be environmentally
                conscious, promoting efficiency while reducing our carbon footprint.</p>
            </div>
            <div class="care-img">
              <img src="./img/care-4.png" alt="img">
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- End About Section -->


  <!-- Start About Section -->
  <section class="our-solution">
    <div class="container">
      <div class="section_heading_left">
        <p class="section_subtitle">
          Our Solutions
        </p>
        <h2 class="section_title">Boost Your Business Growth</h2>
        <div class="p-text">Empower Your Business Growth with Our Comprehensive Data Centre Solutions, Tailored to Help
          You Adapt and Evolve with Changing Needs
        </div>
      </div>

      <div class="row align-items-center">
        <div class="col-xl-4 col-lg-4 col-sm-6">
          <div class="solution-Box">
            <div class="solution-img">
              <img src="./img/Colocation.svg" alt="img">
            </div>
            <div class="solution-contant">
              <h3>Colocation</h3>
              <p>Secure, scalable, and state-of-the-art infrastructure to house your critical IT systems. Our colocation
                solutions provide reliable power, cooling, and security, ensuring your operations run seamlessly around
                the clock.</p>
            </div>

            <div class="solutionBtn">
              <a href="#" class="enquiry-Btn">Enquiry Now</a>
              <a href="#">Learn more</a>
            </div>

          </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-sm-6">
          <div class="solution-Box">
            <div class="solution-img">
              <img src="./img/Connectivity.svg" alt="img">
            </div>
            <div class="solution-contant">
              <h3>Connectivity</h3>
              <p>Uninterrupted and high-speed connectivity to keep your business connected to the world. We deliver
                robust network solutions designed for optimal performance, ensuring seamless communication and data
                flow.</p>
            </div>

            <div class="solutionBtn">
              <a href="#" class="enquiry-Btn">Enquiry Now</a>
              <a href="#">Learn more</a>
            </div>

          </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-sm-6">
          <div class="solution-Box">
            <div class="solution-img">
              <img src="./img/SupportServices.svg" alt="img">
            </div>
            <div class="solution-contant">
              <h3>Customer Support</h3>
              <p>Expert support when you need it most. Our dedicated team is available 24/7 to provide proactive
                monitoring, troubleshooting, and guidance, ensuring your systems are always operational and efficient.
                Surveillance</p>
            </div>

            <div class="solutionBtn">
              <a href="#" class="enquiry-Btn">Enquiry Now</a>
              <a href="#">Learn more</a>
            </div>

          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- End About Section -->


  <!-- Start About Section -->
  <section class="global-reach">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-6 col-lg-4 col-sm-6">
          <div class="global-man">
            <img src="/img/global-man.png" alt="Shape">
          </div>
        </div>

        <div class="col-xl-6 col-lg-4 col-sm-6">
          <div class="section_heading_left">
            <p class="section_subtitle">
              Global Reach, Local Expertise
            </p>
            <h2 class="section_title">Your Trusted Foundation for Success in the Digital Economy</h2>
            <div class="p-text">Take advantage of our rapidly expanding data center platform,
              offering access and scalability in key established and emerging markets, with a focus on high performance
              and low latency.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->



  <!-- Start Counter -->
  <div class="cs_counter_area">
    <div class="container">
      <div class="cs_counter_content">
        <div class="cs_counter_1_wrap">
          <div class="cs_counter cs_style_1">
            <div class="cs_counter_nmber"><span data-count-to="" class="odometer"></span>+</div>
            <p class="cs_counter_title mb-0">Key Business Hubs</p>
          </div>
          <div class="cs_counter cs_style_1">
            <div class="cs_counter_nmber"><span data-count-to="2" class="odometer"></span>></div>
            <p class="cs_counter_title mb-0">Global Data Centers</p>
          </div>
          <div class="cs_counter cs_style_1">
            <div class="cs_counter_nmber"><span data-count-to="" class="odometer"></span>></div>
            <p class="cs_counter_title mb-0">IT Power Demand (GW)</p>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- End Counter -->


  <!-- Start Medical Tab Section -->
 
  <!-- End Medical Tab Section -->


  <!-- Start Team Section -->
  <section class="latest-happiness">
    <div class="container">
      <div class="latest-flex">
        <div class="section_heading_left">
          <p class="section_subtitle">
            Recent Updates
          </p>
          <h2 class="section_title">Gain Exclusive Insights</h2>
        </div>

        <a href="#" class="view-all">View All</a>
      </div>

      <div class="cs_slider cs_style_1 cs_slider_gap_24">
        <div class="cs_slider_container" data-autoplay="0" data-loop="1" data-speed="600" data-center="0"
          data-variable-width="0" data-slides-per-view="responsive" data-xs-slides="1" data-sm-slides="2"
          data-md-slides="3" data-lg-slides="4" data-add-slides="4">
          <div class="cs_slider_wrapper">

            <div class="cs_slide">
              <div class="happinessBox">
                <div class="happinessImg">
                  <img src="/img/happiness-1.png" alt="img">
                </div>
                <div class="happinessContant">
                  <h3>News</h3>
                  <p> Global Data Centres Expands Into Vietnam Through A Joint Venture With VNG To Build And
                    Operate Data Centres</p>
                </div>
              </div>
            </div>

            <div class="cs_slide">
              <div class="happinessBox">
                <div class="happinessImg">
                  <img src="/img/happiness-2.png" alt="img">
                </div>
                <div class="happinessContant">
                  <h3>News</h3>
                  <p> Global Data Centres Expands Into Vietnam Through A Joint Venture With VNG To Build And
                    Operate Data Centres</p>
                </div>
              </div>
            </div>

            <div class="cs_slide">
              <div class="happinessBox">
                <div class="happinessImg">
                  <img src="/img/happiness-3.png" alt="img">
                </div>
                <div class="happinessContant">
                  <h3>News</h3>
                  <p> Global Data Centres Expands Into Vietnam Through A Joint Venture With VNG To Build And
                    Operate Data Centres</p>
                </div>
              </div>
            </div>

            <div class="cs_slide">
              <div class="happinessBox">
                <div class="happinessImg">
                  <img src="/img/happiness-4.png" alt="img">
                </div>
                <div class="happinessContant">
                  <h3>News</h3>
                  <p> Global Data Centres Expands Into Vietnam Through A Joint Venture With VNG To Build And
                    Operate Data Centres</p>
                </div>
              </div>
            </div>

            <div class="cs_slide">
              <div class="happinessBox">
                <div class="happinessImg">
                  <img src="/img/happiness-1.png" alt="img">
                </div>
                <div class="happinessContant">
                  <h3>News</h3>
                  <p> Global Data Centres Expands Into Vietnam Through A Joint Venture With VNG To Build And
                    Operate Data Centres</p>
                </div>
              </div>
            </div>


          </div>
        </div>
        <div class="cs_pagination cs_style_2"></div>
      </div>
    </div>

  </section>
  <!-- End Team Section -->

  <!-- Start Projects Section -->
  <section class="data-center cs_tabs">
    <div class="cs_height_110 cs_height_lg_70"></div>
    <div class="container">
      <div class="cs_section_heading">

        

        <a href="#" class="view-all">View All</a>

      </div>
    </div>
    <div class="cs_tab_body">
      <div class="cs_tab active" id="dental">
        <div class="data-center-bg" data-src="/img/cta_bg_1.png">
          <div class="container">
            <div class="row align-items-center cs_gap_y_40">

              <div class="col-lg-6">
                <div class="cs_cta_text">
                  <div class="data-contant">
                    <h2 class="section_title">ShootSpace GDC India Achieves ISO 45001 Certification for Safety Excellence
                    </h2>
                    <p class="subtitle">Date: 30 June 2023. Our safety-first mindset is a
                      reflection of our strong people and planet ethics. We're thrilled to share that all our
                      operational data centres are now ISO 45001 certified!</p>

                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="cs_cta_btn_wrapper wow zoomIn" data-wow-duration="0.9s" data-wow-delay="0.25s">
                  <a href="https://www.youtube.com/embed/rRid6GCJtgc" class="cs_video_open">
                    <span class="cs_player_btn cs_center">
                      <span></span>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cs_tab" id="cardiology">
        <div class="data-center-bg" data-src="/img/cta_bg_1.png">
          <div class="container">
            <div class="row align-items-center cs_gap_y_40">

              <div class="col-lg-6">
                <div class="cs_cta_text">
                  <div class="data-contant">
                    <h2 class="section_title">ShootSpace GDC India Data Centres Are Now ISO 45001 Certified
                    </h2>
                    <p class="subtitle">Date: 30 June 2023. Our safety-first mindset is a
                      reflection of our strong people and planet ethics. We're thrilled to share that all our
                      operational data centres are now ISO 45001 certified!</p>

                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="cs_cta_btn_wrapper wow zoomIn" data-wow-duration="0.9s" data-wow-delay="0.25s">
                  <a href="https://www.youtube.com/embed/rRid6GCJtgc" class="cs_video_open">
                    <span class="cs_player_btn cs_center">
                      <span></span>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cs_tab" id="neurology">
        <div class="data-center-bg" data-src="/img/cta_bg_1.png">
          <div class="container">
            <div class="row align-items-center cs_gap_y_40">

              <div class="col-lg-6">
                <div class="cs_cta_text">
                  <div class="data-contant">
                    <h2 class="section_title">ShootSpace GDC India Data Centres Are Now ISO 45001 Certified
                    </h2>
                    <p class="subtitle">Date: 30 June 2023. Our safety-first mindset is a
                      reflection of our strong people and planet ethics. We're thrilled to share that all our
                      operational data centres are now ISO 45001 certified!</p>

                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="cs_cta_btn_wrapper wow zoomIn" data-wow-duration="0.9s" data-wow-delay="0.25s">
                  <a href="https://www.youtube.com/embed/rRid6GCJtgc" class="cs_video_open">
                    <span class="cs_player_btn cs_center">
                      <span></span>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cs_tab" id="medical">
        <div class="data-center-bg" data-src="/img/cta_bg_1.png">
          <div class="container">
            <div class="row align-items-center cs_gap_y_40">

              <div class="col-lg-6">
                <div class="cs_cta_text">
                  <div class="data-contant">
                    <h2 class="section_title">ShootSpace GDC India Data Centres Are Now ISO 45001 Certified
                    </h2>
                    <p class="subtitle">Date: 30 June 2023. Our safety-first mindset is a
                      reflection of our strong people and planet ethics. We're thrilled to share that all our
                      operational data centres are now ISO 45001 certified!</p>

                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="cs_cta_btn_wrapper wow zoomIn" data-wow-duration="0.9s" data-wow-delay="0.25s">
                  <a href="https://www.youtube.com/embed/rRid6GCJtgc" class="cs_video_open">
                    <span class="cs_player_btn cs_center">
                      <span></span>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Projects Section -->



  <section class="latest-blog">
    <div class="container">
      <div class="row">

        <div class="col-xl-5 col-lg-4 col-sm-6">
          <div class="latest-article">

            <div class="line"></div>

            <p class="our-latest">
              Recent Articles
            </p>
            <h2 class="article_title">Featured Resources</h2>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore et
              dolore
              magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              commodo
              consequat.</p>

            <a href="#" class="view-all">View All</a>
          </div>
        </div>

        <div class="col-xl-7 col-lg-7 col-sm-7">
          <div class="row">
            <div class="col-xl-6 col-lg-4 col-sm-6">
              <div class="happinessBox">
                <div class="happinessImg">
                  <img src="/img/article-1.png" alt="img">
                </div>
                <div class="happinessContant">
                  <div class="topkey">
                    <span>Top 3 Key Trends</span> Transforming Colocation Data Centres In India
                  </div>
                  <p>In Today's Interconnected World, Data Has Become The Lifeblood Of Businesses And Organisations,
                    Driving
                    Innovation, Efficiency, And Growth.<a href="#">Read More</a> </p>
                </div>
              </div>
            </div>


            <div class="col-xl-6 col-lg-4 col-sm-6">
              <div class="happinessBox">
                <div class="happinessImg">
                  <img src="/img/article-2.png" alt="img">
                </div>
                <div class="happinessContant">
                  <div class="topkey">
                    <span>Top 3 Key Trends</span> Transforming Colocation Data Centres In India
                  </div>
                  <p>In Today's Interconnected World, Data Has Become The Lifeblood Of Businesses And Organisations,
                    Driving
                    Innovation, Efficiency, And Growth.<a href="#">Read More</a> </p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>


  <!-- Start About Section -->
  <section class="global-reach">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-6 col-lg-4 col-sm-6">
          <div class="global-man">
            <img src="/img/global-man.png" alt="Shape">
          </div>
        </div>

        <div class="col-xl-6 col-lg-4 col-sm-6">
          <div class="section_heading_left">
            <p class="section_subtitle">
              Our Commitment
            </p>
            <h2 class="section_title">Shaping a Sustainable Future for the Digital World</h2>
            <div class="p-text">At ShootSpace GDC India, we are dedicated to fostering the growth of the
              data center industry while ensuring our operations remain sustainable, adapting to a resource-conscious
              future.
            </div>
            <a href="#" class="reed-more">Read more</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- Start contact Section -->
 <section class="conatct-us">
    <div class="container">
      <div class="row cs_gap_y_40">

        <div class="col-lg-7">
          <div class="cs_solution_thumbnail">
          </div>
        </div>
        <div class="col-lg-5">
          <div class="contact-right">
            <div class="contactTitle">
              <h2 class="gettouch">Get in touch with us</h2>
            </div>
            <div class="cs_height_25 cs_height_lg_25"></div>
            <form class="cs_contact_form row cs_gap_y_30 home_form_area" action="/contact" method="POST">
              <div class="col-md-6 form-group">
                <label>First Name</label>
                <input type="text" name="firstName" id="firstName" class="form-control" placeholder="Enter First Name" required>
              </div>
              <div class="col-md-6 form-group">
                <label>Last Name</label>
                <input type="text" name="lastName"  id="lastName" class="form-control" placeholder="Enter Last Name" required>
              </div>
              <div class="col-md-6 form-group">
                <label>Mobile No</label>
                <input type="text" name="mobile"  id="mobile" class="form-control" placeholder="Enter Mobile No" required>
              </div>
              <div class="col-md-6 form-group">
                <label>Email Id</label>
                <input type="email" name="email"   id="email" class="form-control" placeholder="Enter Email Id" required>
              </div>
              <div class="col-lg-12 form-group">
                <textarea rows="5" name="message"   id="message" class="form-control" placeholder="Enter Message" required></textarea>
              </div>
              <div class="col-lg-12">
                <button type="submit" class="submit-btn">Submit <img src="./img/arrow-right.svg" alt="icon"></button>
              </div>
            </form>            
        </div>
      </div>
    </div>
  </section>
  <!-- End blog Section -->

  <!-- Start Footer -->
  <footer class="cs_footer">
    <div class="container-fluide">
      <div class="cs_footer_row">
        <div class="cs_footer_col">
          <div class="cs_footer_highlight_col">
            <div class="cs_footer_logo">
              <img src="/img/logo.png" alt="Logo">
            </div>

            <p>ShootSpace Digital private limited 303 , Tower D, WTC Gift Tower A,B & D, Gift City, Gandhinagar - 382355
            </p>
            <ul class="cs_footer_contact cs_mp_0">
              <li>
                contact@shootspace.in
              </li>
              <li>
                (HQ): +91-9428962939
              </li>
            </ul>
          </div>
        </div>
        <div class="cs_footer_col">
          <div class="cs_footer_widget">
            <h2 class="cs_footer_widget_title">Service</h2>
            <ul class="cs_footer_widget_nav_list cs_mp_0">
              <li><a href="#">Colocation</a></li>
              <li><a href="#">Connectivity </a></li>
              <li><a href="#">Support Services</a></li>
            </ul>
          </div>
        </div>
        <div class="cs_footer_col">
          <div class="cs_footer_widget">
            <h2 class="cs_footer_widget_title">Locations</h2>
            <ul class="cs_footer_widget_nav_list cs_mp_0">
              <li><a href="#">Gandhi Nagar </a></li>
              <li><a href="#">Noida </a></li>

            </ul>
          </div>
        </div>
        <div class="cs_footer_col">
          <div class="cs_footer_widget">
            <h2 class="cs_footer_widget_title">News & Resources</h2>
            <ul class="cs_footer_widget_nav_list cs_mp_0">
              <li><a href="#">Newsroom </a></li>
              <li><a href="#">Resource Centre</a></li>
            </ul>
          </div>
        </div>
        <div class="cs_footer_col">
          <div class="cs_footer_widget">
            <h2 class="cs_footer_widget_title">About us</h2>
            <ul class="cs_footer_widget_nav_list cs_mp_0">
              <li><a href="#">About the Company </a></li>
              <li><a href="#">Our Leadership </a></li>
              <li><a href="#">Diversity and Inclusion </a></li>
              <li><a href="#">ESG </a></li>
              <li><a href="#">Our ESG Progress</a></li>
              <li><a href="#"> CSR </a></li>
              <li><a href="#">Accreditation </a></li>
              <li><a href="#">Group of Companies </a></li>
              <li><a href="#">Careers </a></li>
              <li><a href="#">Corporate Governance</a></li>

            </ul>
          </div>
        </div>
        <div class="cs_footer_col">
          <div class="cs_footer_widget">
            <h2 class="cs_footer_widget_title">Partners</h2>
            <ul class="cs_footer_widget_nav_list cs_mp_0">
              <li><a href="#">Enquire</a></li>
            </ul>
          </div>
        </div>

        <div class="cs_footer_col">
          <div class="cs_footer_widget">
            <h2 class="cs_footer_widget_title">Follow</h2>

            <div class="cs_social_btns cs_style_1">
              <a href="#" class="cs_center"><img src="/img/fb.svg" alt="facebook"></a>
              <a href="#" class="cs_center"><img src="/img/twitter.svg" alt="twitter"></a>
              <a href="#" class="cs_center"><img src="/img/insta.svg" alt="insta"></a>
              <a href="#" class="cs_center"><img src="/img/linkedin.svg" alt="linkedin"></a>
            </div>
            

            <div class="subscribe">
              <a href="#" class="subscribe-btn">Subscribe</a>
            </div>

          </div>
        </div>


      </div>
    </div>
    <div class="footer_bottom">
      <div class="container-fluide">
        <div class="cs_footer_bottom_in">
          <ul class="cs_footer_menu">
            <li><a href="#">Privacy Policy </a></li>
            <li><a href="#">Whistleblower Policy </a></li>
            <li><a href="#">Annual Returns </a></li>
            <li><a href="#">Terms of Use </a></li>
            <li><a href="#">Site Map </a></li>
            <li><a href="#">Cookie Settings</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer -->
  <!-- Start Scroll Up Button -->
  <span class="cs_scrollup">
    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 10L1.7625 11.7625L8.75 4.7875V20H11.25V4.7875L18.225 11.775L20 10L10 0L0 10Z" fill="currentColor" />
    </svg>
  </span>
  <!-- End Scroll Up Button -->

  <!-- Script -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/js/jquery-3.6.0.min.js"></script>
  <script src="/js/wow.min.js"></script>
  <script src="/js/jquery.slick.min.js"></script>
  <script src="/js/odometer.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>